﻿.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
	content: "\e625";
}

.datalist {
	position: relative;
	color: #000;
}

.datalist.active .datalist-ul {
	display: block;
}

.datalist-input {
	padding-left: 3px;
	width: 100%;
	height: 31px;
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: none;
	border: 1px solid #777777;
	outline: 0;
}

.datalist-input:focus {
	outline: 0;
}

i {
	position: absolute;
	right: 8px;
	top: 5px;
	transition: transform 0.2s ease;
}

.datalist.active i {
	transform: rotate(270deg);
	color: #AA0000;
}

.datalist.active input {
	border-color: #AA0000;
	border-bottom: solid 1px silver;
	border-radius: 3px 3px 0px 0px;
}

.datalist.active ul {
	border-color: #AA0000;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

.datalist-ul {
	border: solid 1px gray;
	display: none;
	position: absolute;
	margin: 0px;
	padding: 0;
	width: 100%;
	max-height: 200px;
	top: 100%;
	left: 0;
	list-style: none;
	border-radius: 2px;
	background: #fff;
	overflow: hidden;
	overflow-y: auto;
	z-index: 1;
}

.datalist-ul li {
	display: block;
	text-align: left;
	padding: 1px 10px 1px 10px;
	cursor: pointer;
}

.datalist-ul li:hover {
	background: #ead2d2;
}
