﻿@page
@model WebApplication1.Pages.search.carModel
@{
    ViewData["Title"] = "car";
}

    <div class="row">
        <div class="col-lg-12 col-xl-10">
            <div class="row p-3">
                <div class="col-12 p-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                        <button class="navbar-toggler bg-light mb-1" type="button" data-toggle="collapse" data-target="#categories" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span>Kategorijos</span>
                        </button>

                        <div class="collapse navbar-collapse" id="categories">
                            <div>

                                <div class="dropdown pb-1">
                                    <button class="dropbtn auto-btn">Auto</button>
                                    <div class="dropdown-content">
                                        <a class="border-bottom" href="#">Link 1</a>
                                        <a class="border-bottom" href="#">Link 2</a>
                                        <a class="border-bottom" href="#">Link 3</a>
                                    </div>
                                </div>

                                <div class="dropdown pb-1">
                                    <button class="dropbtn moto-btn">Moto</button>
                                    <div class="dropdown-content">
                                        <a class="border-bottom" href="#">Link 1</a>
                                        <a class="border-bottom" href="#">Link 2</a>
                                        <a class="border-bottom" href="#">Link 3</a>
                                    </div>
                                </div>

                                <div class="dropdown pb-1">
                                    <button class="dropbtn wheel-btn">Ratai</button>
                                    <div class="dropdown-content">
                                        <a class="border-bottom" href="#">Link 1</a>
                                        <a class="border-bottom" href="#">Link 2</a>
                                        <a class="border-bottom" href="#">Link 3</a>
                                    </div>
                                </div>

                                <div class="dropdown pb-1">
                                    <button class="dropbtn parts-btn">Dalys</button>
                                    <div class="dropdown-content">
                                        <a class="border-bottom" href="#">Link 1</a>
                                        <a class="border-bottom" href="#">Link 2</a>
                                        <a class="border-bottom" href="#">Link 3</a>
                                    </div>
                                </div>

                                <div class="dropdown pb-1">
                                    <button class="dropbtn farm-btn">Z.ukio</button>
                                    <div class="dropdown-content">
                                        <a class="border-bottom" href="#">Link 1</a>
                                        <a class="border-bottom" href="#">Link 2</a>
                                        <a class="border-bottom" href="#">Link 3</a>
                                    </div>
                                </div>

                                <div class="dropdown pb-1">
                                    <button class="dropbtn truck-btn">Sunkusis tr.</button>
                                    <div class="dropdown-content">
                                        <a class="border-bottom" href="#">Link 1</a>
                                        <a class="border-bottom" href="#">Link 2</a>
                                        <a class="border-bottom" href="#">Link 3</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 bg-white p-3">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Automobiliai</h4>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mb-0">Marke</label>
                                            <div id="markelist" class="datalist">
                                                <input id="marke-input" class="datalist-input" type="text" placeholder="--------">
                                                <i id="datalist-icon" class="icon iconfont icon-arrow"></i>
                                                <ul id="marke-ul" class="datalist-ul"></ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mb-0">Modelis</label>
                                            <div id="modellist" class="datalist">
                                                <input id="model-input" class="datalist-input" type="text" placeholder="--------">
                                                <i id="datalist-icon" class="icon iconfont icon-arrow"></i>
                                                <ul id="model-ul" class="datalist-ul"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mb-0">Kaina</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <select class="w-100">
                                                        <option value="0">Nuo</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <select class="w-100">
                                                        <option value="0">Iki</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mb-0">Metai</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <select class="w-100">
                                                        <option value="0">Nuo</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <select class="w-100">
                                                        <option value="0">Iki</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mb-0">Kebulo tipas</label>
                                            <input list="kebulas" class="w-100" placeholder="-----">
                                            <datalist id="kebulas">
                                                <option value="Internet Explorer"></option>
                                                <option value="Firefox"></option>
                                                <option value="Chrome"></option>
                                                <option value="Opera"></option>
                                                <option value="Safari"></option>
                                            </datalist>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mb-0">Kuro tipas</label>
                                            <input list="kuras" class="w-100" placeholder="-----">
                                            <datalist id="kuras">
                                                <option value="Dyzelis"></option>
                                                <option value="Benzas"></option>
                                                <option value="Dujos"></option>
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mb-0">Tekstine paieska</label>
                                            <input class="w-100" />
                                        </div>
                                        <div class="col-sm-12 col-md-6 d-flex align-items-end justify-content-around">
                                            <a href="#">Detali paieska</a>
                                            <button type="button" class="btn btn-warning pb-0 pt-0">Surasti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-none col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-lg-none col-xl-2"></div>
    </div>

