﻿@page
@model WebApplication1.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h3>Login</h3>
    <div>
        <div>
            <label>Username</label>
            <input class="loginName" type="text" />
        </div>
        <div>
            <label>Password</label>
            <input class="loginPass" type="password" />
        </div>
        <div><a href="/register">Register</a> <button onclick="login()">Login</button></div>

        <script src="~/js/login.js" asp-append-version="true" defer></script>
    </div>
</div>