﻿@page
@model PostModel

@{
    ViewData["Title"] = "Post car";
}
<div class="bg">
    <div class="container">
        <form>
            <div class="form-group">
                <label for="manufacturer">Marke</label>
                <input type="text" class="form-control" id="manufacturer" placeholder="----------">
            </div>
            <div class="form-group">
                <label for="model">Modelis</label>
                <input type="text" class="form-control" id="model" placeholder="----------">
            </div>
            <div class="form-group">
                <label for="manufactureDateYear">Metai</label>
                <select class="form-control" id="manufactureDateYear">
                    <option value="0">----------</option>
                    <option value="2020">2020</option>
                    <option value="2010">2010</option>
                    <option value="2000">2000</option>
                </select>
            </div>
            <div class="form-group">
                <label for="manufactureDateMonth">Menuo</label>
                <select class="form-control" id="manufactureDateMonth">
                    <option value="01" selected>01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div>
    <label for="image">Image:</label>
    <input name="image" type="file" onchange="previewFile()" multiple><br>
    <div id="for_images"></div>
    <button onclick="post()">POST</button>
</div>

<script src="~/js/post.js" asp-append-version="true" defer></script>